*{
	margin: 0;
	padding: 0;
}
body{
	background-color: ghostwhite;
}
#all{
	width: 1440px;
	margin: 0 auto;
	float: left;
}
#head{
	width: 100%;
	margin: 0 auto;
}
.dlyuzc{
	width: 100%;
	float: right;
}
.dlyuzc a{
	text-decoration: none;
	color: black;
	float: right;
}
.dlyuzc a:hover{
	color: red;
}
#head img{
	width: 1550px;
	z-index: -1;
     height: 600px;
}
.dhl{
	width: 1540px;
	height: 70px;
	background-color: #0caf28;
	margin: 0 auto;
}
.dhl ul li{
	list-style-type: none;
	float: left;
}
.dhl li{
	font-size: 45px;
	font-family: "楷体";
	margin-left: 70px;
}
.dhl a{
	color: white;
	text-decoration: none;
	margin-left: 177px;
}
.dhl a:hover{
	color: #000;	
}
#middle{
	width: 1400px;
	margin: 0 auto;
}
.left{
	width: 120px;
	float: left;
	background-color: rgba(0,0,0,0.4);
	border-radius: 0px;
	height: 400px;
}
.left ul li{
	list-style-type: none;
	margin-top: 15px;
	background-color: rgba(255,255,255,0.2);
	}
.left li{
	margin-left: 20px;
}
.tp{
	width: 900px;
	margin-left: 50px;
	margin-top: 15px;
	border: 1px solid black;
	border-radius:25px ;
	float: left;
	background-color: rgba(0,0,0,0.4);
}
.tp ul li{
	float: left;
	list-style-type: none;
	margin-top: 15px;
}
.tp li{
	margin-left: 15px;
}
.tp img{
	border-radius: 5%;
}
.tp-01{
	position: absolute;
	width: 87%;
	margin-left: -50px;
	float: left;
	background-color: rgba(0,0,0,0.4);
	border-radius:25px ;

}
.tp-02{
	position: absolute;
	width: 87%;
	margin-left: -50px;
	border-radius:25px ;
	float: left;
	background-color: rgba(0,0,0,0.4);

}
.tp-03{
	position: absolute;
	width: 87%;
	margin-left: -50px;
	border-radius:25px ;
	float: left;
	background-color: rgba(0,0,0,0.4);

}